<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Shop Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <style>
        body {
        background-repeat: no-repeat;
        background-image: url('https://images.unsplash.com/photo-1566131807516-e3b3cd1a89d1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ym9vayUyMHNob3B8ZW58MHx8MHx8&w=1000&q=80');
        background-size: 1800px 766px
}
    </style>
</head>
<body >
<div class="container text-center"  style=" background-color: lightgrey; height: 500px; width: 40%; border: 10px outset brown;
 padding: 50px; margin-top: 100px; margin-bottom: 100px;
margin-right: center; margin-left: center; box-shadow: 10px 10px 5px black;" >
    <div><h1 style="color:white; text-shadow: 2px 2px 4px #000000; font-family: Papyrus; font-size: 70px; font-weight: bold; " >Welcome!</h1></div>
    <div><h2 style="color:tomato; text-shadow: 2px 2px 4px #000000;  font-family:Lucida Handwriting; ">Villa Book Shop Inventory </h2></div>
    <div style="border: 1px dotted black; border-radius:12px; margin-left:120px; height: 250px; width:50%;">
    <div class="p-2">
        <a class="h5"  th:href="@{/categories}"> Author List </a>
    </div>
    <div class="p-2">
        <a class="h5"  th:href="@{/categories/new}"> Add a new Author </a>
    </div>
    <div class="p-2">
        <a class="h5"  th:href="@{/products}"> Book List </a>
    </div>
    <div class="p-2">
        <a class="h5"  th:href="@{/products/new}"> Add a Book </a>
    </div>
    <div class="p-2">
        <a class="h5"  th:href="@{/brands}"> List Brands </a>
    </div>
    <div class="p-2">
        <a class="h5"  th:href="@{/brands/new}"> Create Brand </a>
    </div>
    </div>
</div>

</body>
</html>