<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clothing Store Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <style>
        body {
        background-repeat: no-repeat;
        background-image: url('https://wallpaper.dog/large/984840.jpg');
        background-size: 1600px 766px
}
    </style>
</head>
<body >
<div class="container text-center"  style=" background-color: lightgrey; height: 650px; width: 40%; border: 10px outset brown;
 padding: 50px; margin-top: 50px; margin-bottom: 50px;
margin-right: center; margin-left: center; box-shadow: 10px 10px 5px black;" >
    <div><h1 style="color:white; text-shadow: 2px 2px 4px #000000;
    font-family: Papyrus; font-size: 70px; font-weight: bold; " >Welcome!</h1></div>
    <div><h3 style="color:tomato; text-shadow: 2px 2px 4px #000000;  font-family:Lucida Handwriting; ">Villa Clothing Store Inventory </h3></div>
    <div style="margin-top: 50px"><div style="border: 1px dotted black; border-radius:12px; margin-left:10px; height: 90px; width:50%; background-color: lightblue;">
    <div class="p-2">
        <a class="h5"  th:href="@{/categories}"> Category List </a>
    </div>
    <div class="p-2">
        <a class="h5"  th:href="@{/categories/new}"> Add a new category </a>
    </div></div>
    <div style="border: 1px dotted black; border-radius:12px; margin-left:250px; height: 90px; width:50%; background-color: lightblue;">
        <div class="p-2">
            <a class="h5"  th:href="@{/products}"> Products List </a>
        </div>
        <div class="p-2">
            <a class="h5"  th:href="@{/products/new}"> Add a Product </a>
        </div>
    </div>
   <div style="border: 1px dotted black; border-radius:12px; margin-left:10px; height: 100px; width:50%; background-color: lightblue;">
       <div class="p-2">
           <a class="h5"  th:href="@{/brands}"> Brands List  </a>
       </div>
       <div class="p-2">
           <a class="h5"  th:href="@{/brands/new}"> Create Brand </a>
       </div>
   </div>
    <div style="border: 1px dotted black; border-radius:12px; margin-left:250px; height: 100px; width:50%; background-color: lightblue;">
        <div class="p-2">
            <a class="h5"  th:href="@{/users}"> User List </a>
        </div>
        <div class="p-2">
            <a class="h5"  th:href="@{/users/new}"> Create User </a>
        </div>
    </div></div>


</div>

</body>
</html>